{% extends "::layout_dashboard.php.twig" %}


{#{% block name %}{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
{% endblock name %}
#}

{% block header %}
    <div class="invisible" style="padding: 10px">
        <span>a</span>
    </div>
{% endblock %}

{% block fos_user_content %}
<div class="col-lg-11 col-md-11">
    <div class="row jumbotron">
        {% include "FOSUserBundle:Profile:show_content.html.twig" %}
        <ul class="list-unstyled" style="margin-left: 30px">
        <li><a class="btn btn-default" href="{{ path('fos_user_profile_edit') }}">Modifier mon profil</a></li>
        <li style="margin-top: 10px"><a class="btn btn-default" href="{{ path('fos_user_change_password') }}">Changer mon mot de passe</a></li>
        <li style="margin-top: 10px"><a class="btn btn-default" href="#">Suprimer mon compte</a></li>
        </ul>
    </div>
</div>
{% endblock fos_user_content %}
