{% extends "::layout.php.twig" %}
{% form_theme form '::Form/field.php.twig' %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block navbar %}
    {{ include("::navbar_dashboard.php.twig") }}
{% endblock navbar %}

{% block fos_user_content %}
    <div style="margin-top: 30px;" class="col-lg-offset-3 col-lg-5">
{% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
    </div>
{% endblock fos_user_content %}
