{% extends '::layout_dashboard.php.twig' %}
{% form_theme edit_form '::Form/field.php.twig' %}
{% form_theme delete_form '::Form/field.php.twig' %}

{% block header %}
    <div class="invisible" style="padding: 10px">
        <span>a</span>
    </div>
{% endblock %}

{% block aeplatform_body %}
    <div class="row col-lg-12 col-md-12 jumbotron">
        {{ form(edit_form) }}

        <ul class="record_actions list-inline list-unstyled text-center">
            <li>
                <a href="{{ path('show_entreprise_user') }}" class="btn btn-default">
                    Retour à Mon Entreprise
                </a>
            </li>
            {#<li>{{ form(delete_form) }}</li>#}
        </ul>
    </div>
{% endblock %}