{% extends "::layout.php.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}
    <title>SmartCompta - Confirmation</title>
{% endblock %}

{% block navbar %}
{% endblock navbar %}

{% block fos_user_content %}
    <div style="margin-left: 30px; margin-top: 20px;">
        <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
        {% if targetUrl %}
        <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
        {% endif %}

        <a class="btn btn-default" href="{{ path('new_entreprise_user') }}">Enregistrer votre entreprise</a>
    </div>
{% endblock fos_user_content %}
