{% extends "::layout.php.twig" %}

{% block title %}
	<title>SmartCompta - FAQ</title>
{% endblock %}

{% block navbar %}
	{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
		{{ include("::navbar_dashboard.php.twig") }}
	{% else %}
		{{ include("::navbar.php.twig") }}
	{% endif %}

{% endblock navbar %}

{% block header %}

{% endblock %}

{% block body %}
	<div class="container" style="padding-top: 100px">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				<p>Une Question ?</br>Nous avons surement la réponse</p>
				<form name="sentMessage" id="contactForm" novalidate>
					<div class="row control-group">
						<div class="form-group col-xs-12 floating-label-form-group controls">
							<label>Question</label>
							<input type="text" class="form-control" placeholder="Question" id="question" required data-validation-required-message="Merci de renseignez votre requete.">
							<p class="help-block text-danger"></p>
						</div>
					</div>
				</form>
				<p>Vous ne trouvez pas ce que vous cherchez ?</br><a href="{{ path('mremi_contact_form') }}">Contactez nous</a></p>
			</div>
		</div>
	</div>
{% endblock %}