{% extends "::layout.php.twig" %}

{% block title %}
	Page d'accueil
{% endblock %}

{% block header %}
	<div class="row" style="margin-top: 60px;
							padding: 0;
							border: none;
							width: 101%;
							height: 80px;
							background-color: whitesmoke;">
		<div class="pull-right">
			<h2 style="margin-top: 8px;"><span style="color: deepskyblue">S</span>imple <span style="color: deepskyblue">C</span>omplet</h2>
			<h2 style="margin-top: -5px;"><span style="color: deepskyblue;">S</span>mart<span style="color: deepskyblue"> C</span>ompta est votre solution</h2>
		</div>
	</div>
	<header class="intro-header" style="background-image: url({{asset('img/imghmp.jpg')}}); margin-bottom: 0px;">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
					<div class="page-heading">
						<h1></h1>
						<!--span class="subheading">Have questions? I have answers (maybe).</span-->
					</div>
				</div>
			</div>
		</div>
	</header>
{% endblock %}

{% block body %}
	<div id="container" style="font-size: 24px;">

		<section class="row jumbotron" id="accueil" style="background-color: whitesmoke; padding-bottom: 100px;">
			<div style="padding-top: 50px">
				<div>
					<div class="col-xs-offset-2 col-xs-10 col-sm-offset-2 col-sm-4 col-md-offset-2 col-md-4 col-lg-offset-2 col-lg-4">
						<p class="glyphicon glyphicon-ok">
							Devis et Factures
						</p></div>
					<div class="col-xs-offset-2 col-xs-12 col-sm-offset-1 col-sm-4 col-md-offset-2 col-md-3 col-lg-offset-1 col-lg-4">
						<p class="glyphicon glyphicon-ok">
							Calcul du Chiffre d'Affaire
						</p></div>
					<div class="col-xs-offset-2 col-xs-10 col-sm-offset-2 col-sm-4 col-md-offset-2 col-md-4 col-lg-offset-2 col-lg-4">
						<p class="glyphicon glyphicon-ok">
							Suivit des Cotisations
						</p>
					</div>
					<div class="col-xs-offset-2 col-xs-12 col-sm-offset-1 col-sm-4 col-md-offset-2 col-md-3 col-lg-offset-1 col-lg-4">
						<p class="glyphicon glyphicon-ok">
							Livre de Recette
						</p>
					</div>
					<div class="col-xs-offset-2 col-xs-10 col-sm-offset-2 col-sm-7 col-md-offset-2 col-md-7 col-lg-offset-2 col-lg-7">
						<p class="glyphicon glyphicon-ok">
							Registre des Achats
						</p>
					</div>
				</div>
			</div>
		</section>

		<section id="pourqui" class="row jumbotron" style="background-color: whitesmoke;">
			<div class="col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-9 col-lg-offset-1 col-lg-10">
				<p class="glyphicon glyphicon-hand-right">
					Vous venez de créer une entreprise ou vous en possédez déjà une.
				</p>
				<p class="glyphicon glyphicon-hand-right">
					Vottre chiffre d'affaire en 2015 est inférieur à 282 200 € (HT) pour une activité d'achat/vente ou 32 900 € pour une activité de prestation de service.
				</p>
				<p class="glyphicon glyphicon-hand-right">
					Vous déclarer votre activité d'auto-entrepreneur.
				</p>
			</div>
		</section>

		<section id="webmobile" class="row jumbotron" style="background-color: whitesmoke;">
			<div class="col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-9 col-lg-offset-1 col-lg-10">
				<p class="glyphicon">
					Une application aussi bien mobile que web pour suivre votre comptabilité à chaques instants.
				</p>
			</div>
		</section>

		<section id="benefice" class="row jumbotron" style="background-color: whitesmoke;">
			<div class="glyphicon text-center col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-9 col-lg-offset-1 col-lg-10">
				<ul class="list-inline">
					<li>
						<span class="glyphicon-unchecked"></span>
						<p>Facturation</p>
					</li>
					<li>
						<span class="glyphicon-unchecked"></span>
						<p>Registres</p>
					</li>
					<li>
						<span class="glyphicon-unchecked"></span>
						<p>Cotisations</p>
					</li>
					<li>
						<span class="glyphicon-unchecked"></span>
						<p>Documents</p>
					</li>
					<li>
						<span class="glyphicon-unchecked"></span>
						<p>Graphiques</p>
					</li>
					<li>
						<span class="glyphicon-unchecked"></span>
						<p>Chiffre d'affaire</p>
					</li>
				</ul>
				<p >SmartCompta vous fera gagner en temps et en argent.<br>
					Mieux qu'un logiciel, SmartCompta évolue de manière permanente.<br>
					Nous sommes à votre service.
				</p>
			</div>
		</section>

	</div>
{% endblock %}

{% block footer %}
	<div style="margin-top: -40px">
		{{ parent() }}
	</div>
{% endblock %}

{% block script %}
<script>
	$('.carousel').carousel({
		interval: 5000
	})
</script>
	<!-- Scrolling Nav JavaScript -->
	<script src="{{ asset('bootstrap/js/jquery.easing.min.js') }}"></script>
	<script src="{{ asset('bootstrap/js/scrolling.js') }}"></script>
{% endblock %}

