{% form_theme form '::Form/field.php.twig' %}

{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}

{#
<ul class="record_actions">
    <li>
        <a href="{{ path('recettes') }}">
            Back to the list
        </a>
    </li>
</ul>
#}
