{# src/AE/platformBundle/Resources/views/layout.php.twig #}

{% extends "::layout.php.twig" %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block header %}
    {% block aeplatform_header %}
    {% endblock %}
{% endblock %}

{% block body %}
    {% block navbar %}
        <!-- Barre de navigation -->
        {{ include("::navbar_dashboard.php.twig") }}
    {% endblock navbar %}

    <div id="container">
        <div class="raw" style="margin-left: 40px;">
            <h1><a href="{{ path('dashboard_user') }}">Accueil</a></h1>
        </div>
        <div class="raw" style="margin-top: 40px;">
            <section class="col-lg-2 col-md-2 col-sm-3" style="text-align: center">
                <ul class="list-unstyled" >
                    <li><a href="{{ path('recettes') }}">Livre de recettes</a></li><hr>
                    <li><a href="#">Registre des achats</a></li><hr>
                    <li><a href="#">Facturation</a></li><hr>
                    <li><a href="#">Compte bancaire</a></li><hr>
                    <li><a href="#">Devis</a></li>
                </ul>
            </section>
            {# On définit un nouveau bloc, que les vues du bundle pourront remplir #}

            <section class="col-lg-10 col-md-10 col-sm-7">
                {% block aeplatform_body %}
                {% endblock %}
            </section>
        </div>

    </div>


{% endblock %}
